# Standard libraries
os
json
pickle-mixin
uuid
re
collections-extended
functools32
itertools

# Data handling and analysis
pandas
numpy

# Visualization
matplotlib
seaborn
plotly
ipython

# Machine learning: scikit-learn
scikit-learn

# FairXplainer (Note: This is not a standard library, ensure you have the correct version or source)
fairxplainer

# Configuration and optimization
openbox==0.2.8
ConfigSpace==0.4.19

# Miscellaneous
streamlit==1.0.0
base64==0.1
