openpyxl

# Data handling and analysis
pandas
numpy==1.26.4

# Visualization
matplotlib
seaborn
plotly

# Machine learning: scikit-learn
scikit-learn==1.0.2

# Configuration and optimization
openbox
ConfigSpace

# Misc

